/* HEADER */
/* HEADER */

header{
    background-color: #2C3E50;
}

/* MAIN */
/* MAIN */

/* START-BOOTSTRAP */
section.start-bootstrap{
    background-color: #1ABC9C;
    text-align: center;
    color: #FFFFFF;
}

section.start-bootstrap img{
    width: 250px;
}

/* PORTFOLIO */


/* ABOUT */
section.about{
    background-color: #1ABC9C;
}

/* FORM */


/* FOOTER */
/* FOOTER */

/* FOOTER-TOP */
section.footer-top{
    background-color: #3A546D;
}

/* FOOTER-BOT */
section.footer-bot{
    background-color: #2C3E50;
}