/* HEADER */
/* HEADER */

header{
    background-color: #2C3E50;
}

/* MAIN */
/* MAIN */

/* START-BOOTSTRAP */
section.start-bootstrap{
    background-color: #1ABC9C;
}

section.start-bootstrap img{
    width: 250px;
}

/* PORTFOLIO */


/* ABOUT */
section.about{
    background-color: #1ABC9C;
}

/* FORM */


/* FOOTER */
/* FOOTER */

/* FOOTER-TOP */
section.footer-top{
    background-color: #3A546D;
    padding-bottom: 3rem;
}

section.footer-top div.row{
    line-height: 2.5rem;
}

.btn-fb{
    padding: 0.45rem 1rem;
}

.btn-gp{
    padding: 0.45rem .75rem;
}

.btn-tw{
    padding: 0.45rem .85rem;
}

.btn-in{
    padding: 0.45rem .95rem;
}

section.footer-top p{
    font-size: 1.4rem;
}

/* FOOTER-BOT */
section.footer-bot{
    background-color: #2C3E50;
}